/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.ui.all
 *= require_tree .
 */

 #banner{
 	/*background: #9c9;*/
 	background: #006363;
 	padding: 10px;
 	border-bottom: 2px solid;
 	font: small-caps 40px/40px "Times New Roman", serif;
 	/*color: #282;*/
 	color: #ff7400;
 	text-align: center;

 	img{
 		float: left;
 		width: 42px;
 	}
 }

#notice{
	color: #000 !important;
	border: 2px solid red;
	padding: 1em;
	margin-bottom: 2em;
	background-color: #f0f0f0;
	font: bold smaller sans-serif;
}

#columns{
	/*background: #141;*/
	background: #006363;

	#main{
		margin-left: 21em;
		padding: 1em;
		background: white;
	}

	#side{
		float: left;
		padding: 1em 2em;
		width: 17em;
		/*background: #141;*/
		background-color: #006363;

		form, div{
			display:block;
		}

		input{
			font-size: small;
		}

		#cart{
			font-size: smaller;
			color:#ff7400;

			table{
				border-top:  1px dotted #ff7400;
				border-bottom: 1px dotted #ff7400;
				margin-bottom: 10px;
			}
		}


			p{
				font-size: 15px;
				color: #ff9240;
			}

			ul{
			padding: 0;
	
			li{
				list-style: none;
	
				a{
					color: #ff7400;
					font-size: small;
				}
			}
		}
	}
}
